.intro{
    background: url('../img/bg.png') center / cover no-repeat;
    margin-top: -187px;
    padding-top: 187px;
    padding-bottom: 39px;
    position: relative;
    isolation: isolate;
    @include media(1400){
        margin-top: -200px;
        padding-top: 200px;
    }
    @include media(768){
        padding-bottom: 30px;
    }
    &__content{
        display: flex;
        align-items: stretch;
        @include media(992){
            flex-direction: column;
            margin-bottom: 290px;
        }
        @include media(575){
            margin-bottom: 230px;
        }
    }
    &__left{
        max-width: 950px;
        width: 100%;
        @include media(1400){
            max-width: 660px;
        }
        @include media(768){
            margin-bottom: 28px;
        }
    }
    &__desc{
        font-weight: 400;
        font-size: 34px;
        line-height: 40px;
        color: #000000;
        @include media(1400){
            font-size: 28px;
        }
        @include media(768){
            font-weight: 400;
            font-size: 18px;
            line-height: 23px;
            color: #000000;
        }
        @include media(575){
            font-size: 16px;
            line-height: 19px;
        }
        &:nth-of-type(1){
            max-width: 566px;
            width: 100%;
            margin-bottom: 30px;
            @include media(768){
                max-width: 300px;
                width: 100%;
                margin-bottom: 10px;
            }
        }
        &:nth-of-type(2){
            margin-bottom: 88px;
            @include media(1700){
                margin-bottom: 35px;
            }
            @include media(768){
                max-width: 435px;
                margin-bottom: 0;
            }
        }
        span{
            font-weight: 700;
            color: #E5192E;
        }
    }
    &__title{
        font-weight: 700;
        font-size: 66.5143px;
        line-height: 79px;
        color: #000000;
        margin-bottom: 18px;
        @include media(1400){
            font-size: 48px;
            line-height: 57px;
        }
        @include media(768){
            font-size: 34px;
            line-height: 38px;
            margin-bottom: 16px;
        }
        @include media(575){
            font-size: 20px;
            line-height: 23px;
            max-width: 320px;
            width: 100%;
        }
        .intro__circle{
            &:hover{
                .info{
                    transform: scale(1);
                }
            }
        }
    }
    &__circle{
        cursor: pointer;
        width: 27px;
        height: 27px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background: #E5192E;
        border-radius: 50%;
        font-family: 'Tiro Gurmukhi';
        font-style: italic;
        font-weight: 400;
        font-size: 19.6344px;
        line-height: 25px;
        color: #FFFFFF;
        position: relative;
        top: -25px;
        @include media(768){
            top: -15px;
        }
        @include media(575){
            width: 22px;
            height: 22px;
            top: -7px;
            right: -5px;
            font-size: 15.5168px;
            line-height: 19px;
        }
        .intro__line{
            position: absolute;
            width: 27px;
            height: 27px;
            top: -4px;
            left: -4px;
            bottom: -4px;
            right: -4px;
            &::before{
                width: 33px;
                height: 33px;
                border: 1px solid #ee1a24;
                position: absolute;
                content: "";
                left: -1px;
                border-radius: 50%;
                top: -1px;
                border-left-color: transparent;
                border-right-color: transparent;
                -webkit-animation-name: rotateRevers;
                animation-name: rotateRevers;
                -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
                -webkit-animation-duration: 4s;
                animation-duration: 4s;
                -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
                @include media(575){
                    width: 28px;
                    height: 28px;
                    top: 0;
                }
            }
            @keyframes rotateRevers {
                0%{
                    transform: rotate(0deg);
                }
                100%{
                    transform: rotate(360deg);
                }
            }
            &::after{
                width: 42px;
                height: 42px;
                border: 1px solid #ee1a24;
                position: absolute;
                content: "";
                left: -5px;
                top: -5px;
                border-radius: 50%;
                border-top-color: transparent;
                border-bottom-color: transparent;
                -webkit-animation-name: rotate;
                animation-name: rotate;
                -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
                -webkit-animation-duration: 4s;
                animation-duration: 4s;
                -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
                @include media(575){
                    width: 35px;
                    height: 35px;
                    left: -4px;
                    top: -4px;
                }
            }
            @keyframes rotate {
                0%{
                    transform: rotate(360deg);
                }
                100%{
                    transform: rotate(0deg);
                }
            }
        }
    }
    &__img{
        position: absolute;
        bottom: 69px;
        right: 0;
        .intro__circle{
            position: absolute;
            top: 0;
            right: 50px;
            z-index: 50;
            display: none;
            @include media(992){
                display: inline-flex;
            }
            .img__info{
                top: calc(100% + 15px) !important;
                right: -10px;
                @include media(768){
                    min-width: 430px;
                    width: 430px;
                }
                @include media(575){
                    min-width: 320px;
                    width: 320px;
                }
                @include media(375){
                    min-width: 294px;
                    width: 294px;
                    right: -35px;                    
                }
            }
            &:hover{
                .info{
                    transform: scale(1);
                }
            }
        }
        img{
            width: 100%;
            &.disable-lg{
                @include media(992){
                    display: none;
                };
            }
            &.enable-lg{
                display: none;
                @include media(992){
                    display: block;
                };
            }
        }
        @include media(1920){
            max-width: 740px;
            width: 100%;
        }
        @include media(1700){
            bottom: 130px;
        }
        @include media(1400){
            bottom: 175px;
            max-width: 600px
        }
        @include media(1200){
            max-width: 500px;
        }
        @include media(992){
            max-width: 600px;
            right: 85px;
            bottom: 290px;
        }
        @include media(768){
            max-width: 440px;
            left: 50%;
            transform: translateX(-50%);
            bottom: 380px;
        }
        @include media(575){
            max-width: 460px;
            bottom: 240px;
        }
        @include media(410){
            bottom: 250px;
        }
        @include media(375){
            bottom: 270px;
        }
        @include media(350){
            bottom: 310px;
        }
    }
    &__buttons{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        margin-bottom: 47px;
        @include media(1700){
            flex-direction: column;
            align-items: flex-start;
        }
        @include media(575){
            margin-bottom: 32px;
        }
        &.disable-lg{
            @include media(992){
                display: none;
            }
        }
        &.enable-lg{
            display: none;
            @include media(992){
                display: flex;
            }
        }
    }
    &__btn{
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        max-width: 422px;
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #E5192E;
        border-radius: 500px;
        padding: 19px 105px 19px 60px;
        position: relative;
        margin-right: 137px;
        @include media(1700){
            margin-bottom: 30px;
        }
        @include media(992){
            order: 1;
            margin-right: 0;
            margin-bottom: 0;
        }
        @include media(575){
            max-width: 260px;
            font-size: 12px;
            line-height: 14px;
            padding: 10px 64px 10px 36px;
            height: 44px;
        }
        &::before{
            content: '';
            position: absolute;
            background: url(../img/intro-book.svg) center / cover no-repeat;
            width: 168px; 
            height: 120px;
            transform: translateX(50%);
            top: -21px;
            bottom: -21px;
            right: 0;
            @include media(575){
                width: 114px;
                height: 81px;
                right: -61px;
                transform: translateX(0);
            }
        }
    }
    &__row{
        display: flex;
        align-items: center;
        @include media(992){
            margin-bottom: 35px;
        }
    }
    &__pause{
        min-width: 76px;
        width: 76px;
        height: 76px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: radial-gradient(50% 50% at 50% 50%, #E5192E 51.95%, #9E0C12 100%), #D72E35;
        border-radius: 674px;
        margin-right: 17px;
        position: relative;
        isolation: isolate;
        @include media(575){
            min-width: 70px;
            width: 70px;
            height: 70px;
            margin-right: 24px;
        }
        &::before{
            width: 94px;
            height: 94px;
            border: 2px solid #ee1a24;
            position: absolute;
            content: "";
            left: -9px;
            border-radius: 50%;
            top: -10px;
            border-left-color: transparent;
            border-right-color: transparent;
            -webkit-animation-name: rotateRevers;
            animation-name: rotateRevers;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            -webkit-animation-duration: 4s;
            animation-duration: 4s;
            -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
            @include media(575){
                width: 88px;
                height: 88px;
            }
        }
        @keyframes rotateRevers {
            0%{
                transform: rotate(0deg);
            }
            100%{
                transform: rotate(360deg);
            }
        }
        &::after{
            width: 84px;
            height: 84px;
            border: 2px solid #ee1a24;
            position: absolute;
            content: "";
            left: -5px;
            top: -5px;
            border-radius: 50%;
            border-top-color: transparent;
            border-bottom-color: transparent;
            -webkit-animation-name: rotate;
            animation-name: rotate;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            -webkit-animation-duration: 4s;
            animation-duration: 4s;
            -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
            @include media(575){
                width: 78px;
                height: 78px;
            }
        }
        @keyframes rotate {
            0%{
                transform: rotate(360deg);
            }
            100%{
                transform: rotate(0deg);
            }
        }
        img{
            position: relative;
            z-index: 1;
            @include media(575){
                width: 15px;
                height: 15px;
            }
        }
        &-subtitle{
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
            display: flex;
            align-items: center;
            color: #000000;
            margin-bottom: 7px;
            @include media(575){
                font-size: 14px;
                line-height: 16px;
                margin-bottom: 5px;
            }
        }
        &-desc{
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            color: #000000;
            margin-bottom: 9px;
            @include media(575){
                font-size: 12px;
                line-height: 13px;
                margin-bottom: 0px;
            }
        }
        &-link{
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            text-decoration-line: underline;
            color: #E5192E;
            @include media(575){
                font-size: 12px;
                line-height: 13px;
            }
        }
    }
    &__subtitle{
        font-weight: 700;
        font-size: 18px;
        line-height: 130%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #E5192E;
        margin-bottom: 1px;
        @include media(575){
            font-size: 16px;
            line-height: 130%;
            margin-bottom: 0;
        }
        &.disable-lg{
            @include media(992){
                display: none;
            }
        }
        &.enable-lg{
            display: none;
            @include media(992){
                display: block;
            }
        }
    }
    &__p{
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        color: #000000;
        @include media(575){
            font-size: 14.0344px;
            line-height: 17px;
        }
        &.disable-lg{
            @include media(992){
                display: none;
            }
        }
        &.enable-lg{
            display: none;
            @include media(992){
                display: block;
            }
        }
    }
    &__right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__wrapper{
        display: flex;
        align-items: center;
        position: relative;
    }
    &__txt{
        font-weight: 400;
        font-size: 30.5106px;
        line-height: 36px;
        color: #000000;
        max-width: 129px;
        width: 100%;
        margin-right: 20px;
        @include media(1400){
            font-size: 28px;
        }
        @include media(768){
            font-size: 18px;
            line-height: 23px;
            max-width: 68px;
        }
    }
    &__calendar{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #F4F4F4;
        border: 1.6px solid #E5192E;
        border-radius: 8px;
        &-p{
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 400;
            font-size: 22.3196px;
            line-height: 130%;
            color: #FFFFFF;
            background: #D72E35;
            border-radius: 0 0 6px 6px;
            width: 100%;
            @include media(992){
                font-size: 12px;
                line-height: 130%;
                height: 18px;
            }
        }
    }
    &__date{
        width: 87px;
        height: 81px;
        background: #F4F4F4;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        font-size: 60px;
        line-height: 100%;
        color: #E5192E;
        @include media(768){
            height: 43px;
            width: 47px;
            font-size: 31.2011px;
            line-height: 100%;
        }
    }
    &__infos{
        position: absolute;
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(15px);
        border-radius: 22px;
        right: -16px;
        bottom: 38px;
        max-width: 789px;
        width: 100%;
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(15px);
        border-radius: 22px;
        padding: 30px 50px 24px;
        @include media(1920){
            max-width: 690px;
        }
        @include media(1700){
            bottom: 90px;
        }
        @include media(1400){
            bottom: 130px;
            max-width: 560px;
            padding: 20px 30px;
        }
        @include media(1200){
            max-width: 480px;
        }
        @include media(992){
            display: none;
        }
    }
    &__name{
        font-weight: 700;
        font-size: 33.8492px;
        line-height: 40px;
        color: #000000;
        margin-bottom: 10px;
        @include media(1400){
            font-size: 28px;
        }
    }
    &__info{
        font-weight: 400;
        font-size: 19.6243px;
        line-height: 23px;
        color: #000000;
        max-width: 493px;
        width: 100%;
        @include media(1400){
            font-size: 17px;
        }
    }
}

.info{
    background: #FFFFFF;
    border-radius: 20px;
    padding: 46px 33px 61px 43px;
    position: absolute;
    min-width: 745px;
    width: 745px;
    right: 40px;
    top: -50%;
    transform: translateY(-50%);
    z-index: 50;
    transform: scale(0);
    transition: 300ms ease;
    @include media(1400){
        min-width: 600px;
        width: 600px;
    }
    @include media(1200){
        min-width: 500px;
        width: 500px;
        padding: 25px 20px 25px;
    }
    @include media(768){
        top: calc(100% + 10px);
        right: -76px;
    }
    @include media(575){
        min-width: 320px;
        width: 320px;
        right: -56px;
        padding: 15px;
    }
    @include media(350){
        min-width: 294px;
        width: 294px;
        right: -30px;
    }
    &__title{
        font-weight: 700;
        font-style: normal;
        font-size: 28px;
        line-height: 33px;
        color: #E5192E;
        margin-bottom: 19px;
        @include media(1200){
            font-size: 24px;
            margin-bottom: 10px;
        }
        @include media(575){
            font-size: 20px;
            line-height: 25px;
        }
    }
    &__list{
        margin-bottom: 41px;
        @include media(1200){
            margin-bottom: 20px;
            @include media(575){
                margin-bottom: 14px;
            }
        }
    }
    &__li{
        padding-left: 19px;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
        position: relative;
        @include media(1200){
            font-size: 18px;
        }
        @include media(575){
            font-size: 16px;
        }
        &::before{
            content: '';
            position: absolute;
            width: 8px;
            height: 8px;
            background: #E5192E;
            border-radius: 4px;
            border-radius: 50%;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        &:not(:last-of-type){
            margin-bottom: 11px;
            @include media(1200){
                margin-bottom: 8px;
            }
            @include media(575){
                margin-bottom: 3px;
            }
        }
    }
    &__p{
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 30px;
        color: #000000;
        @include media(1200){
            font-size: 18px;
        }
        @include media(575){
            font-size: 16px;
            line-height: 23px;
        }
        span{
            color: #E5192E;
            font-weight: 700;
        }
    }
}

