mixin footer()
    footer.footer   
        .footer__body.container
            p.footer__p 2022 -2023 © Маркетинговое агентство полного цикла RADEMA | Radetsky Marketing ИНН 410506402431
            button(type="button").footer__link.popup-open Политика конфиденциальности 
            p.footer__p Copyright 2023 #[br] Все права защищены