@font-face {
	font-family: TiroGurmukhi;
	font-display: swap;
	src: url("../fonts/TiroGurmukhi-Italic.woff2") format("woff2"), url("../fonts/TiroGurmukhi-Italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: TTNorms;
	font-display: swap;
	src: url("../fonts/TTNorms-Bold.woff2") format("woff2"), url("../fonts/TTNorms-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: TiroGurmukhi;
	font-display: swap;
	src: url("../fonts/TiroGurmukhi-Italic.woff2") format("woff2"), url("../fonts/TiroGurmukhi-Italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: TTNorms;
	font-display: swap;
	src: url("../fonts/TTNorms-Bold.woff2") format("woff2"), url("../fonts/TTNorms-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: TTNorms;
	font-display: swap;
	src: url("../fonts/TTNorms-Regular.woff2") format("woff2"), url("../fonts/TTNorms-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: TTNorms;
	font-display: swap;
	src: url("../fonts/TTNorms-Regular.woff2") format("woff2"), url("../fonts/TTNorms-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
